
node_modules

dist

.env
.env.local
.env.development
.env.production
.env.test
.env*.local

Dockerfile
.dockerignore

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
